.wrapper {
  margin-top: 70px;
  position: relative;
  width: 400px;
  height: 440px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease, transform .5s ease;
  transform: scale(0);
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active { height: 520px; }

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  color: #fff;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

/* LOGIN */
.wrapper .form-box.login {
  transition: transform .28s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}


/* REGISTER */
.wrapper .form-box.register {
  transform: translateX(400px);
  position: absolute;
  transition: none;
}

.wrapper.active .form-box.register {
  transition: transform .28s ease;
  transform: translateX(0);
}


.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}


/* START: floating label */
 .input-group {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-group input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-group .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.input-group label {
  color: #162938;
  font-size: 1em;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

input:focus { outline: none; }

input:focus ~ label,
input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #4285f4;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #161616;
  margin-right: 3px;
}

.remember-forgot a {
  color: #161616;
  text-decoration: none;
} 

.remember-forgot a:hover { text-decoration: underline; }

.btn {
  width: 100%;
  height: 45px;
  background-color: #161616;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #161616;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #161616;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover { text-decoration: underline; }